<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AppLauncher / SceneDelegate (iOS only)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AppLauncher / SceneDelegate (iOS only)</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Capacitor AppLauncher</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>AppDelegate event "application(_ app: UIApplication, open url: URL, options: [UIApplication.OpenURLOptionsKey: Any] = [:])" is replaced by SceneDelegate event "scene(_ scene: UIScene, openURLContexts URLContexts: Set UIOpenURLContext )"</p>
      <p>AppDelegate event "application(_ application: UIApplication, continue userActivity: NSUserActivity, restorationHandler: @escaping ([UIUserActivityRestoring]?) -> Void)" is replaced by SceneDelegate event "scene(_ scene: UIScene, continue userActivity: NSUserActivity)"</p>
      <p>Is it the right way to call ApplicationDelegateProxy in the SceneDelegate in my sample ?</p>
      <ion-button expand="block" fill="solid" (click)="openCapacitorAppLauncher()">Open Capacitor AppLauncher</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
