<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capacitor Browser / SceneDelegate (iOS only)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor Browser / SceneDelegate (iOS only)</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Capacitor Browser Fullscreen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The Capacitor Browser (SFSafariViewController) is not visible with presentationStyle : fullScreen</p>
      <ion-button expand="block" fill="solid" (click)="openCapacitorBrowserFullscreen()">Open Capacitor Browser Fullscreen</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Capacitor Browser Popover</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The capacitor Browser (SFSafariViewController) is visible with presentationStyle : popover </p>
      <ion-button expand="block" fill="solid" (click)="openCapacitorBrowserPopover()">Open Capacitor Browser Popover</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
